/* Main BATMAN style  */

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth ;
}

a,
a:link,
a:visited {
    text-decoration: underline;
    color: var(--gray-color);
}



h1,
h2,
h3 {
    padding: 1em;
    color: var(--white-full-color);
    text-transform: uppercase;
    margin-bottom: 1em;
}


/* End Reset */

/* Global Styles */

/* variables  */
:root {
    --yellow-color : #FFFF00;
    --yellow-color-light : #F8F184;
    --navy-color : #19587D;
    --red-color : #B11313;
    --black_color : #272525;
    --gradiant-gray-color : #EDDEBF ;
    --gradiant-gray-color-light : #19587D;
    --gradiant-red-color : #EDDEBF;
    --gray-color : #c4c4c4;
    --black-full-color : #00000000;
    --gray-black : #474747;
    --white-full-color : #ffffff;

    /* gradiant  */
    --button-gradient_color: linear-gradient(to right, rgba(255, 255, 255, 0.3), #650000);
    --button-hover-gradient: linear-gradient(to right, rgba(255, 255, 255, 0.5), #850000);
    --citation-gradient: linear-gradient(to bottom, #5a5a5a, #1a2a3a);
}


/* fonts style  */

/* Rajdhani  */
.rajdhani-light {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .rajdhani-regular {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .rajdhani-medium {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .rajdhani-semibold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .rajdhani-bold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

/* Space Grotesk     */
.space-grotesk-light {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.space-grotesk-regular {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.space-grotesk-medium {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.space-grotesk-semibold {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.space-grotesk-bold {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.space-grotesk-black {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}


/* End Global Styles  */


/* Body  Content style */

/* Header style */

.batman_header_container {
    width: 100dvw;    
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1rem 2rem;
    margin: 0 auto;
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;

    background-image: url(Assets/Illustrations/Bathome1.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.batman_nav {
    top: 0;
    min-width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    margin-bottom: 2em;

    /* background-color: blue; */
} 

.batman_hero {
    max-width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    /* background-color: #19587D; */

}

.intro {
    width:  60%;
    padding: 2em;
    margin-bottom: 2em;
    line-height:  1.5em;


    /* background-color: #b11313; */
}

.intro_paragraph {
    color: var(--gray-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.batman_hero_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;

}

.batman_hero_buttons > button {
    padding: 1em;
    width: 10rem;
    border: none;
    opacity: 0.8;
    /* mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%); */

    cursor: pointer;
    
}

.aside {
    position: absolute;
    right: 20px;  
    top: 60%;  
    transform: translateY(-50%); 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2em;

  }

  .fa-brands {
    padding: 1em;
    margin-bottom:  2em;

    color: var(--gray-color);
    
  }

/* Header style End  */
  
/* Main style  */

.batman_main_container {
    width: 100dvw;    
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    margin: 0 auto;
    color:  var(--white-full-color);


    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.division_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:  2em;

}

.batman_cinema,
.batman_nemesis,
.batman_allies,
.allies_of_justice ,
.Multimedia {
    width:  60%;
    margin:  0 auto;

}

.cinema_description {
    line-height:  1.5em;
    margin-bottom: 2em;

}

.cinema_description > p {
    margin-bottom: 2em;

}

.batman_character,
.nemesis_character,
.allies_character {
    width:  50%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;

}

.chara_card {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom:  2em;
}

.batman_nemesis > h2 {
    background-image: url(Assets/Illustrations/Bathome13.png);
    background-repeat: no-repeat;
    background-size: 5rem;
    background-position-x:  5em;
    /* background-position-y:  1rem; */


}


.justice_leagie_card {
    position: absolute;
    background-image: url(Assets/Illustrations/Bathome11.png);
}

.allies_of_justice > .cinema_description > img {
    width:  100%;
    height: auto;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;


}


.Multimedia {
    margin-bottom: 5em;
}

.media {
    display: flex;
    align-items: center;
    justify-content:  space-around;
    gap: 2em;

}

.mediabat_card {
    display: flex;
    justify-content: space-around;
    margin-bottom:  2em;
}

.media > button {
    padding: 2em;
    border: none;
    background-color: var(--black-full-color);
    cursor: pointer;
}

.card_description {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    text-align: start;
    margin:  0.5em 2em;
    padding: 0.5em;

    background-color: var(--gray-black);
}

span {
    color: var(--white-full-color);

}

span > .notation {
    color: var(--yellow-color);
}

/* Contact style  */

.batman_contact {
    width: 100%;
    padding: 2em;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;

    background-color: var(--black_color);
}

form {
    width: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.email,
.accordion,
.message {
    all: unset;
    border-bottom: 2px solid var(--white-full-color);
    padding: 1em;
    width: 100%;
    background-color: var(--black-full-color);
    color: var(--white-full-color);
}

.email,
.accordion,
.message :focus {
    border-bottom: 2px solid var(--gray-color);
    outline: none;

}

form > span {
    color: var(--gray-color);

}

form > .newsletter {
    background-color: var(--gray-color);
    color: var(--gradiant-gray-color);
}

.news {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.news > button {
    padding: 1em;
    cursor: pointer;
    background-color: var(--black_color);
    border: 1px solid var(--gradiant-red-color-light);
    padding: 1em;
    color: var(--white-full-color);

}

.confirmer {
    padding: 2em;
    background-color: var(--button-gradient_colort);
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border:  none;

    cursor: pointer;
}

/* Citation  */

 .batman_citation {
    position: relative;
    text-align: center;
    background: var(--bg-color);
    color: var(--text-color);
    padding: 100px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .citation-icon {
    font-size: 120px;
    font-weight: bold;
    position: absolute;
    /* opacity: 0.3; */

    /* background: var(--gray-black); */
  }
  
  .left {
    left: 10%;
    top: 30%;
  }
  
  .right {
    right: 10%;
    bottom: 20%;
  }
  
  .citation-text {
    font-size: 24px;
    font-weight: bold;
    max-width: 60%;
  }
  
  .citation-author {
    font-size: 16px;
    margin-top: 10px;
    opacity: 0.7;
  }
  
  .page_button {
    margin-top: 20px;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: var(--gradiant-gray-color-light);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease-in-out;
  }
  
  .dot.active {
    background-color: var(--gray-color);
  }
  



/* Main style End  */

/* Footer style */

.batman_footer_container {
    width: 100dvw;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5em;

    background-color: black;
}

.batman_copy {
    padding: 2em;
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;

}

.company {
    padding: 2em;
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;


}

.group1 ,
.group2{
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    /* background-color:  blue; */
}


/* Footer style End  */

